.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 55px;
  }
}
